name: Remove abcd.html from beta after PR merge

on:
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  cleanup:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout beta
        uses: actions/checkout@v4
        with:
          ref: main

      - name: Remove file from beta
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          if [ -f "shivam.html" ]; then
            git rm -f shivam.html
            git commit -m "Auto remove abcd.html from beta"
            git push origin main
          else
            echo "File not present, nothing to remove"
          fi
